<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/material-design-lite/material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="mdl-layout mdl-js-layout">
    <div class="mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
              <span class="mdl-layout-title">
                  <a href="/" class="no_style">{{title}}</a>
              </span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <!-- Right aligned menu below button -->
                <button id="demo-menu-lower-right"
                        class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    for="demo-menu-lower-right">
                    <li class="mdl-menu__item">
                        <a href="{{link1}}">{{link1Name}}</a>
                    </li>
                    <li class="mdl-menu__item">
                        <a href="{{link2}}">{{link2Name}}</a>
                    </li>
                    {{#if link3}}
                        <li class="mdl-menu__item">
                            <a href="{{link3}}">{{link3Name}}</a>
                        </li>
                    {{/if}}
                </ul>
            </div>
        </header>
    </div>
    <div class="content">
        {{{body}}}
    </div>
</div>

<script src="/lib/material-design-lite/material.min.js"></script>
</body>
</html>
